.book-details-bg-container {
  background-color: #e1f2e3;
  min-height: 88vh;
  margin: auto;
  width: 400px;
  padding: 10px;
}

@media screen and (min-width: 769px) {
  .book-details-bg-container {
    width: 100%;
  }
}

.book-details-top-container {
  margin: auto;
  width: 90%;

  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media screen and (min-width: 769px) {
  .book-details-top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.detailed_image {
  width: 235px;
  height: 274px;
  top: 80px;
  left: 62px;
  border-radius: 12px;
  margin-bottom: 20px;
}
@media screen and (min-width: 769px) {
  .detailed_image {
    margin-right: 50px;
  }
}

.book_details_heading {
  min-width: 150px;
  height: 32px;
  top: 378px;
  left: 104px;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
}

.book_details_author_name {
  min-width: 98px;
  height: 24px;
  top: 418px;
  left: 130px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
}

.rating {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
}

.read-status {
  height: 24px;
  top: 482px;
  left: 77px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

.span-status {
  width: 138px;
  height: 24px;
  top: 482px;
  left: 144px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #0284c7;
  margin-left: 15px;
}

.horizontal-line {
  width: 312px;

  border: 2px solid #94a3b8;
  color: red;
  margin: 20px;
}
@media screen and (min-width: 769px) {
  .horizontal-line {
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
  }
}

.about-author-heading {
  width: 105px;
  height: 24px;
  top: 554px;
  left: 24px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
}

.about-author-para {
  min-width: 312px;
  height: 140px;
  top: 586px;
  left: 24px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
}

@media screen and (min-width: 769px) {
  .about-author-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.about-book-heading {
  color: #334155;
  width: 91px;
  height: 24px;
  top: 742px;
  left: 24px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (min-width: 769px) {
  .about-author-heading {
    width: 157px;
    height: 32px;
    top: 555px;
    left: 214px;

    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.book-details-bottom-container {
  padding: 15px;
}

@media screen and (min-width: 769px) {
  .book_details_bottom_container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 175px;
    padding-bottom: 15px;
  }
}

.loader-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-details-failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.book_details_something_wrong_image {
  width: 238px;
  height: 117.16px;
  top: 204.85px;
  left: 61px;
  margin-bottom: 10px;
}

.book_details_try_again {
  width: 87px;
  height: 32px;
  background-color: #0284c7;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 10px;
}

@media screen and (min-width: 769px) {
  .book-details-responsive-container {
    background-color: #ffffff;
    width: 85%;
    margin: auto;
    border-radius: 10px;
  }
}

.text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .text-container {
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 150px;
  }
}
