.mobile-slider-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 360px;
  min-height: 230px;
  top: 284px;
  margin-top: 10px;
  padding: 10px;
}

@media screen and (min-width: 769px) {
  .mobile-slider-container {
    display: none;
  }
}

.large-slider-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 85%;
  height: 55vh;
  top: 284px;
  margin-top: 20px;
  margin: auto;
}

@media screen and (max-width: 769px) {
  .large-slider-container {
    display: none;
  }
}

.slider-image {
  width: 146px;
  height: 99px;
  top: 336px;
  left: 28px;
  border-radius: 7px;
  margin: 20px;
}
@media screen and (min-width: 769px) {
  .slider-image {
    width: 250px;
    height: 250px;
    margin: auto;
  }
}

.slider-heading {
  top: 443px;
  left: 69px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #334155;
}
@media screen and (min-width: 769px) {
  .slider-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
}

.author-name {
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #475569;
}

@media screen and (min-width: 769px) {
  .author-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.individual-container {
  text-align: center;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-heading {
  margin: 20px;
}

.slider-find-books-button {
  width: 104px;
  height: 36px;
  top: 232px;
  left: 24px;
  background-color: #0284c7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .slider-find-books-button {
    display: none;
  }
}

.heading-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
