.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.not-found {
  width: 225px;
  height: 148.85px;
  top: 159px;
  left: 67px;
}

@media screen and (min-width: 769px) {
  .not-found {
    width: 448px;
    height: 300px;
    top: 244px;
    left: 496px;
  }
}

.page-not-heading {
  width: 130px;
  height: 24px;
  top: 326px;
  left: 114px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #334155;
}

@media screen and (min-width: 769px) {
  .page-not-heading {
    width: 245px;
    height: 48px;
    top: 576px;
    left: 598px;
    font-size: 32px;
    margin-top: 40px;
  }
}

.page-not-found-para {
  width: 312px;
  height: 72px;
  top: 362px;
  left: 24px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #475569;
}

@media screen and (min-width: 769px) {
  .page-not-found-para {
    width: 543px;
    height: 64px;
    top: 636px;
    left: 449px;
    font-size: 20px;
  }
}

.not-found-button {
  width: (132px);
  height: (32px);
  padding: 8px;
  border-radius: 8px;
  gap: 8px;
  background-color: #0284c7;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 769px) {
  .not-found-button {
    width: 164px;
    height: 48px;
    top: 732px;
    left: 638px;
    border-radius: 4px;
  }
}
