.bg-container {
  background-color: #e1f2e3;

  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  align-items: center;
  width: 500px;
  padding: 15px;
  border-radius: 15px;
  font-family: sans-serif;
}

.item_image {
  width: 250px;
  text-align: center;
}

.title_detailed {
  margin: 15px;
  font-size: 23px;
  color: black;
  line-height: 1.5;
  text-align: center;
}

.detailed-heading {
  color: red;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.description {
  font-family: sans-serif;
  line-height: 2;
  margin-bottom: 15px;
}
