.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  justify-content: space-around;
  min-height: 80vh;
  max-height: 100vh;
}

@media screen and (min-width: 769px) {
  .login-container {
    margin: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
  }
}

.mobile_book_image {
  width: 216px;
  height: 216px;
  top: 32px;
  left: 72px;
}

@media screen and (min-width: 769px) {
  .mobile_book_image {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktop_book_image {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .desktop_book_image {
    width: 50%;
    max-height: 100vh;
  }
}

.mobile_app_logo {
  width: 104px;
  height: 28px;
  top: 264px;
  left: 128px;
  margin-bottom: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
}

@media screen and (min-width: 769px) {
  .login-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-color: #f9faf7;
  }
}

.username-label {
  color: #5a7184;
  width: 94px;
  height: 19px;
  top: 3px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 10px;
}

.username-input {
  width: 312px;
  height: 56px;
  top: 34px;
  color: #183b56;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 8px;
}

.login-button {
  width: 312px;
  height: 40px;
  background-color: #0284c7;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-msg {
  color: red;
  font-family: 'Roboto';
}
