.book-shelves-bg-container {
  min-height: 88vh;
  padding: 20px;
  background-color: #e1f2e3;
  border: 3px solid;
  flex-grow: 1;
  width: 400px;
}

/*.book-shelves {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid red;
}*/

.books-search {
  width: 260px;
  height: 36px;
  top: 80px;
  left: 24px;
  border-radius: 0px, 3px, 3px, 0px;
  padding: 8px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #334155;
  width: 300px;
  border-radius: 8px;
  border: 1px solid black;
}

.search-icon {
  width: 40px;
  border: none;
  background-color: #edeff1;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bookshelves-heading {
  width: 99px;
  height: 24px;
  top: 132px;
  left: 24px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tabs-container {
  width: 310px;
  min-height: 60px;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

ul {
  margin: 0px;
}
