.book-shelves-bg-container {
  min-height: 88vh;
  padding: 20px;
  background-color: #e1f2e3;

  flex-grow: 1;
}

.book-shelves {
  margin: auto;
}
@media screen and (min-width: 769px) {
  .book-shelves {
    width: 85%;
    margin: auto;
  }
}

.books-search {
  width: 260px;
  height: 36px;
  top: 80px;
  left: 24px;
  border-radius: 0px, 3px, 3px, 0px;
  padding: 8px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.mobile-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #334155;
  width: 300px;
  border-radius: 8px;
  border: 1px solid black;
}

@media screen and (min-width: 769px) {
  .mobile-input-container {
    display: none;
  }
}
.search-icon {
  width: 40px;
  border: none;
  background-color: #edeff1;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bookshelves-heading {
  width: 99px;
  height: 24px;
  top: 132px;
  left: 24px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 769px) {
  .bookshelves-heading {
    width: 124px;
    height: 32px;
    top: 32px;
    left: 32px;

    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.tabs-container {
  width: 310px;
  min-height: 60px;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

@media screen and (min-width: 769px) {
  .tabs-container {
    flex-direction: column;
  }
}

ul {
  margin-left: -35px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.failure-bg-container {
  height: 60vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .failure-bg-container {
    flex-direction: row;
    align-items: flex-start;

    width: 100%;
  }
}

.failure-container {
  text-align: center;

  width: 100%;

  margin-left: 20px;
}

@media screen and (min-width: 769px) {
  .failure-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
  }
}

.not-found-image {
  width: 238px;
  height: 117.16px;
  top: 306px;
  left: 61px;
}

@media screen and (min-width: 769px) {
  .not-found-image {
    width: 469px;
    height: 230px;
    top: 366px;
    left: 689px;
  }
}

.failure-para {
  width: 312px;
  height: 48px;
  top: 492px;
  left: 24px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #475569;
}

@media screen and (min-width: 769px) {
  .failure-para {
    width: 469px;
    height: 48px;
    top: 628px;
    left: 688px;

    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media screen and (min-width: 769px) {
  .success-view-responsive-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 769px) {
  .tabs-heading-container {
    background-color: #ffffff;
    width: 256px;
    height: 50vh;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
  }
}

.large-devices-search-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 769px) {
  .large-devices-search-heading-container {
    display: none;
  }
}

.tab-specific-heading {
  min-width: 200px;
  height: 22px;
  top: 144px;
  left: 438px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
}

@media screen and (min-width: 769px) {
  .large-devices-right-container {
    width: 100%;
    margin-left: 20px;
  }
}

.large-device-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #334155;
  width: 300px;
  border-radius: 8px;
}

.unordered-list {
  min-height: 60vh;
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .unordered-list {
    margin-left: -5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 60vh;
  }
}

.bookshelves-try-again-button {
  width: 87px;
  height: 32px;
  top: 475.15px;
  left: 140px;
  background-color: #0284c7;
  padding: 8px, 16px, 8px, 16px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.failure-image-heading-try-again-button-container {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-search-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .empty-search-list {
    height: 60vh;
  }
}

.search-not-found-image {
  width: 257px;
  height: 176px;
  top: 300px;
  left: 51px;
}

@media screen and (min-width: 769px) {
  .search-not-found-image {
    width: 476px;
    height: 327px;
    top: 310px;
    left: 682px;
  }
}

.search-text {
  width: 312px;
  height: 48px;
  top: 492px;
  left: 24px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #475569;
}
